@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

header{
    text-align: center;
    padding: 0;

}

body{
    background-image: url(imagens-p/BK_Gigantes-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main{
    background-image: linear-gradient(#AC7438, #BF984E, #D9A84E, #272C64);
    background-attachment: fixed;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 10px;
}

h1{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #272C64;
    text-shadow: 0 0 10PX rgba(140, 53, 61, 0.8);
}

h2{
    text-align: center;
    color: #FFF1B0;
    text-shadow: 0 0 10PX rgba(140, 53, 61, 0.8);
}

p{
    margin-bottom: 20px;
    text-align: center;
    font-family: "Syne Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

footer{
    margin: 1;
    background-color: #272C64;
    padding: 5px;
    
}

footer > p, a{
    text-decoration: none;
    color: white;
}

a :hover{
    text-decoration: ;
}