@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


header p{
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 15px black;
    font-size: 1.3em;
    text-decoration: underline;
}

body{
    background-image: url(imagens-p/lider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    margin: 0;
    min-height: 100vh;

}

main{
    background-image: linear-gradient(#060606, #424242, #757575);
    background-attachment: fixed;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 20px;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    text-shadow: 2px 2px 15px black;
    font-size: 2em;
}

h2{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B8B8B8;
    text-shadow: 2px 2px 15px;
    font-size: 1.8em;
    letter-spacing: 8px;
}

p{
    font-family: "Big Shoulders" sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}