@charset "UTF-8";

*{
    font-family: 'Orbitron';
}
body{
    background-image: linear-gradient(180deg , #120505 0%, #402A32 60%, #732f3B 100%);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header{
    background-color: #040208;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

header img{
    max-width: 800px;
    height: auto;
    margin: 0;
    
}

main{
    background-color: rgba(26, 10, 10, 0.8);
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
    padding: 30px;
    margin: 50px auto;
    border: 1px solid rgba(174, 191, 190, 0.1);
    
}

iframe{
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

h1{
    font-family: 'Orbitron', sans-serif;
    color:#AEBFBE ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7) ;
}
h2{
    color: #E63946;
    margin-top: 60px;
    border-bottom: 1px solid #8c353d;
    padding-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    filter: brightness(1.5);
}

p{
    margin-bottom: 20px;
    font-family: 'Orbitron';
    text-align: justify;
    color: #AEBFBE;
    line-height: 1.6;
    font-size: 1.1em;
}

a img{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s;
    
}

a img:hover{
    transform: scale(1.2);
}